
 #blur-background
 {
    filter: blur(4px);
    /* align-content: center; */
 }
 #header
{
    /* display: inline-flexbox;
    justify-content: space-evenly;
    align-items: center; */
    /* margin-top: 20px; */
    width: 700px;
    height: 40px;
    margin-left: 250px;
    
}
#center1
{
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    position: absolute;
    top: 40px;
    margin-left: 40px;
    left: 100px;
}
#head1
{
    width: 272px;
    height: 150px;
    border: 1px solid red;
    box-shadow: 2px 2px grey;
    margin-left: -176px;
    border-radius: 4px;
}
#but
{
    background-color: red;
    border-radius: 5px;
}
p
{
    color: red;
}
@media screen and (min-width:300px) and (min-height:300px)
{
    #header
    {
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;
        /* margin-top: 100px;
        width: 700px;
        height: 40px;
        margin-left: 250px; */
        
    }
    #center1
    {
        /* width: 700px;
        height: 500px; */
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;
        /* margin-top: 100px; */
        position: absolute;
        top: 40px;
        /* margin-left: 40px; */
        left: 100px;
    }
    #head1
    {
        /* width: 272px;
        height: 150px; */
        border: 1px solid red;
        box-shadow: 2px 2px grey;
        /* margin-left: -176px; */
        border-radius: 4px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #but
    {
        background-color: red;
        border-radius: 5px;
    }
    p
    {
        color: red;
    }
}